h1{
	text-shadow: 2px 2px 2px #03d7ff;
	text-align: center;
}

.inputfields{
	text-align: center;
	font-weight: bold;
}

.buttons{
	border-radius: 20px;
	font-weight: bold;
	text-align: center;
}

#outputfield{
	font-size: 25px;
	text-shadow: 1px 1px 1px #c0e300;
	font-weight: bolder;
	text-align: center;
}

body{
	border-radius: 20px;
	padding-bottom: 25px;
	margin-left: 25%;
	margin-right: 25%;
	border: 2px solid black;
}
